{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Home Page</title>
</head>
<body>

  <h1>Welcome to B2D</h1>
  
</body>
</html> --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home | B2D</title>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  {{!-- <link href="assets/css/style.css" rel="stylesheet"> --}}
  <link rel="stylesheet" href="css/style.css">
  <link rel="script" href="assets/js/main.js">

  <!-- =======================================================
  * Template Name: Anyar - v4.7.1
  * Template URL: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <script src="5/ninjaVideoPlugin.js"></script>

</head>

<body>
 
  <section id="bg">
   <div class="row">
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>  
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <section id="text">
      <div class="carousel-item active">
        <div class="carousel-container">
          <img class="animate__animated animate__fadeIn" src="assets\img\small study.jpeg" alt="">
        <h5 style="color:white">Have a doubt ?</h5>
        <a href="/register" class="btn-get-started animate__animated animate__fadeIn scrollto">Ask Your Doubt</a>
      </section>
        
   
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
     </div>


      
<!-- <section id="text">
        <div class="carousel-item active">
          <div class="carousel-container">
            <img class="animate__animated animate__fadeIn"src="/assets/img/question (1).png" alt="">
          <h5 style="color:white">Have a doubt ?</h5>
          <a href="signin-page/user.html" class="btn-get-started animate__animated animate__fadeIn scrollto">Ask Your Doubt</a>
          
       <!-- </div>  -->

 
        
      <div>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>

    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
    <div>
      <i class="fa fa-etsy" aria-hidden="true"></i>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <i class="fa fa-university" aria-hidden="true"></i>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <i class="fa fa-book" aria-hidden="true"></i>
      <i class="fa fa-check" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <i class="fa fa-smile-o" aria-hidden="true"></i>

    </div>

  </div>
  </section> 


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/"><img src="/assets/img/Bye2doubtslogo__2_-removebg-preview.png"alt="B2D"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href=index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar"> 
        <ul>
           <!-- choose class start -->
          <li class="dropdown"><a href="#"><span> <button class="choose-class-btn" >Select Your Class<i class="bi bi-chevron-down" style="color:black" ></i> </button> </span></a>
            <ul>
             <li><a href="#">11th & 12th</a></li>
             <li><a href="#">9th & 10th</a></li>
             <li><a href="#">6th to 8th</a></li>
           </ul>
         </li> 
         <!-- choose class end -->

          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#quizz">Quizzes</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Leaderboard</a></li>
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
          <li><a class="nav-link scrollto" href="#portfolio">Premium</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <!-- <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li> -->
          <!-- <li><a href="blog.html">Blog</a></li> -->
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

    </div>
  </section><!-- End Hero -->

 

  
  <main id="main">  

    <!-- ======= Subjects Boxes Section ======= -->

<div class="subjects">
  <h2>Subjects Available</h2>


    <!-- ======= Subjects Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"> <a href="/section"><img src="assets/img/mathematics.png"class="img-fluid" alt=""></a><span id="sbj-name"> <h6>Maths</h6></span></div>
            <div class="swiper-slide"><img src="assets/img/phy.png" class="img-fluid" alt=""> <span id="sbj-name"> <h6>Physics</h6></span></div>
            <div class="swiper-slide"><img src="assets/img/chem.png" class="img-fluid" alt=""><span id="sbj-name"> <h6>Chemistry</h6></span></div>
            <div class="swiper-slide"> <img src="assets/img/bio.png" class="img-fluid" alt=""><span id="sbj-name"> <h6>Biology</h6></span></div>
            <div class="swiper-slide"><img src="assets/img/eng.png" class="img-fluid" alt=""><span id="sbj-name"> <h6>Engliish</h6></span></div>
            <div class="swiper-slide"><img src="assets/img/icons8-soil-96.png" class="img-fluid" alt=""><span id="sbj-name"><h6>Enviromrntal Science</h6></span></div>
            <div class="swiper-slide"><img src="assets/img/comp.png" class="img-fluid" alt=""><span id="sbj-name"> <h6>Computer</h6></span></div>
            <div class="swiper-slide"><img src="assets/img/book.png" class="img-fluid" alt=""><span id="sbj-name"> <h6>Social Studies</h6></span></div>
            <div class="swiper-slide"><img src="assets/img/icons8-quantitative-data-64.png" class="img-fluid" alt=""><span id="sbj-name"> <h6>Quantitative Aptitude</h6></span></div>


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
</div>
      <!-- End Clients Section -->
 
      <div class="page-section">
        <div class="why-container">
          <div class="text-center wow fadeInUp">
            <div class="subhead"> <img src="https://img.icons8.com/clouds/200/000000/question-mark.png"/> <br> Why Us ?
            </div>
            <h2 class="title-section">Your <span class="marked">Doubt</span> is Our Priority</h2>
            <div class="divider mx-auto"></div>
          </div>
    
          <div class="row mt-5 text-center" style="padding:1px" >
            <div class="col-lg-4 py-3 wow fadeInUp">
              <div class="display-3"><span class=""> <img src="https://img.icons8.com/external-smashingstocks-circular-smashing-stocks/96/000000/external-quiz-education-smashingstocks-circular-smashing-stocks.png"/>
  
              </span></div>
              <h5>Regular Quizzes</h5>
              <p class="benefits-des">For checking the level of preparation, students will be able to attend quizzes on different topics. Based on their performance, the leaderboard will be updated and the top 3 students every week will be rewarded with some incentives</p>
            </div>
            <div class="col-lg-4 py-3 wow fadeInUp">
              <div class="display-3"><span class=""><img src="https://img.icons8.com/external-parzival-1997-flat-parzival-1997/140/000000/external-expert-financial-advisor-parzival-1997-flat-parzival-1997.png"/>
              </span></div>
              <h5>Experts' Verified Answers</h5>
              <p class="benefits-des">When a query will be asked by the student, the subject team will provide the solution and it will be sent for approval to the Experts. Then all the solutions to the question will get verified from the Experts of that particular subject</p>
            </div>
            <div class="col-lg-4 py-3 wow fadeInUp">
              <div class="display-3"><span class=""><img src="https://img.icons8.com/nolan/100/anki.png"/>
              </span></div>
              <h5>Unique Flashcards</h5>
              <p class="benefits-des">Specially designed flashcards will be available for the revision before the exam time. All the important terms with examples will be included in it.</p>
            </div>
          </div>
  
          <div class="row mt-5 text-center">
            <div class="col-lg-4 py-3 wow fadeInUp">
              <div class="display-3"><span class=""> <img src="https://img.icons8.com/external-vectorslab-flat-vectorslab/80/000000/external-focus-project-management-and-web-marketing-vectorslab-flat-vectorslab.png"/>
              </span></div>
              <h5>Special Focus On Board Students</h5>
              <p class="benefits-des">Special focus will be provided on these students from our Expert Team through regular meets/webinars. The imporatant question list and other notes material will be available. </p>
            </div>
            <div class="col-lg-4 py-3 wow fadeInUp">
              <div class="display-3"><span class=""><img src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/140/000000/external-video-tutorials-education-smashingstocks-flat-smashing-stocks.png"/>
              </span></div>
              <h5>Video Lectures, Study materials and Handwritten Notes along with Question Banks</h5>
              <p class="benefits-des">Availability of study materials, video sessions on our YouTube channel along with handpicked Question Banks by our Experts</p>
            </div>
            <div class="col-lg-4 py-3 wow fadeInUp">
              <div class="display-3"><span class=""><img src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/96/000000/external-teaching-distance-education-smashingstocks-flat-smashing-stocks.png"/>
              </span></div>
              <h5>One-to-One Doubt Sessions</h5>
              <p class="benefits-des"> Every premium subscription will have this facility to clear their doubts with Experts.</p>
            </div>        
          </div>
        </div> <!-- .container -->
      </div> <!-- .page-section -->
    
    
    </section><!-- End Subjects Boxes Section -->

    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>WHY US ?</h2>
          <p>"Bye2Doubts" platform provides you the best and accurate answers for all queries which first gets verified from our Subject Experts.
             You will be getting all the important resources at one platform only, without any hassle.</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Correct and Verified solutions through Experts</a></h4>
              <p>When a query will be asked by the student, the subject team will provide the solution and it will be sent for approval to the Experts. Then all the solutions to the question will get verified from the Experts of that particular subject.</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Regular Quizzes and Weekly Leaderboard</a></h4>
              <p>For checking the level of preparation, students will be able to attend quizzes on different topics. Based on their performance, the leaderboard will be updated and the top 3 students every week will be rewarded with some incentives.</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">Affordable Premium Subscription</a></h4>
              <p>Students will have to pay the minimal charge of Rs.299/- monthly for the Subscription Services on B2D. </p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">Special Focus on Board Students and JEE/NEET Aspirants.</a></h4>
              <p>Special focus will be provided on these students from our Expert Team through regular meets/webinars.</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="#">One-on-One Doubt Sessions</a></h4>
              <p>Every premium subscription will have this facility to clear their doubts with Experts.</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">Video Lectures, Study materials and Handwritten Notes along with Question Banks </a></h4>
              <p>Availability of study materials, video sessions on our YouTube channel along with handpicked Question Banks by our Experts.</p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Services Section -->



    <!-- <h1 style="padding:40px 50px; text-align: center;" >Grab Knowledge Through Our Free YouTube Videos</h1> -->

    <!-- Define the slideshow container -->
    <!-- <div id="slideshow"> -->
      <!-- <div class="slide-wrapper"> -->
        
        <!-- Define each of the slides
      and write the content -->
        <!-- <div class="slide"> -->
          <!-- <iframe src="https://www.youtube.com/embed/DB8rHoc4R1s" width="600px" height="310px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="slide">
          <iframe src="https://www.youtube.com/embed/p5YzYuJgvrE" width="600px" height="310px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="slide">
          <iframe src="https://www.youtube.com/embed/DB8rHoc4R1s" width="600px" height="310px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="slide">
          <iframe src="https://www.youtube.com/embed/p5YzYuJgvrE" width="600px" height="310px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="slide">
          <iframe src="https://www.youtube.com/embed/DB8rHoc4R1s" width="600px" height="310px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="slide">
          <iframe src="https://www.youtube.com/embed/p5YzYuJgvrE" width="600px" height="310px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
         
      </div>
    </div> -->

    <br>
    <br>
    <br>

    

<!----------- Quizes Section Begin ------------->


   <!-- ======= quizz Section ======= -->
   <section id="quizz" class="quizz section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>quizzes <img src="https://img.icons8.com/external-smashingstocks-thin-outline-color-smashing-stocks/167/000000/external-quiz-education-smashingstocks-thin-outline-color-smashing-stocks.png"/>

        </h2>
        <h3>Upcoming Quizzes</h3>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
             <img src="/assets/img/mathematics.png" width="90%" alt="">
              <!-- <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path> -->
              </svg>
              <!-- <i class="bx bxl-dribbble"></i> -->
            </div>
            <h4><a href="">Weekly Maths Quizz</a></h4>


            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>

            <strong>Starts in !</strong>

            <p id="t1"></p>
          
            <script>
            // Set the date we're counting down to
            var countDownDate1 = new Date("July 25, 2022 15:37:25").getTime();
            
            // Update the count down every 1 second
            var x = setInterval(function() {
            
              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate1 - now;
                
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
              // Output the result in an element with id="demo"
              document.getElementById("t1").innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("t1").innerHTML = "CLOSED";
              }
            }, 1000);
            </script>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <img src="/assets/img/phy.png" width="90%" alt="">
              </div>
            <h4><a href="">Weekly Science Quizz</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            <strong>Starts in !</strong>

            <p id="t2"></p>
          
            <script>
            // Set the date we're counting down to
            var countDownDate2 = new Date("July 25, 2022 15:37:25").getTime();
            
            // Update the count down every 1 second
            var x = setInterval(function() {
            
              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate2 - now;
                
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
              // Output the result in an element with id="demo"
              document.getElementById("t2").innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("t2").innerHTML = "CLOSED";
              }
            }, 1000);
            </script>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">

              <img src="/assets/img/comp.png" width="90%" alt="">

                </svg>
             </div>
            <h4><a href="">Weekly Computer Quizz</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            <strong>Starts in !</strong>

            <p id="t3"></p>
          
            <script>
            // Set the date we're counting down to
            var countDownDate3 = new Date("July 25, 2022 15:37:25").getTime();
            
            // Update the count down every 1 second
            var x = setInterval(function() {
            
              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate3 - now;
                
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
              // Output the result in an element with id="demo"
              document.getElementById("t3").innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("t3").innerHTML = "CLOSED";
              }
            }, 1000);
            </script>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">

              <img src="/assets/img/comp.png" width="90%" alt="">

                </svg>
             </div>
            <h4><a href="">Weekly Computer Quizz</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            <strong>Starts in !</strong>
            <p id="t5"></p>
          
            <script>
            // Set the date we're counting down to
            var countDownDate5 = new Date("July 25, 2022 15:37:25").getTime();
            
            // Update the count down every 1 second
            var x = setInterval(function() {
            
              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate5 - now;
                
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
              // Output the result in an element with id="demo"
              document.getElementById("t5").innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("t5").innerHTML = "CLOSED";
              }
            }, 1000);
            </script>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">

              <img src="/assets/img/comp.png" width="90%" alt="">

                </svg>
             </div>
            <h4><a href="">Weekly Computer Quizz</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            <strong>Starts in !</strong>

            <p id="t4"></p>
          
            <script>
            // Set the date we're counting down to
            var countDownDate4 = new Date("July 25, 2022 15:37:25").getTime();
            
            // Update the count down every 1 second
            var x = setInterval(function() {
            
              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate4 - now;
                
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
              // Output the result in an element with id="demo"
              document.getElementById("t4").innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("t4").innerHTML = "CLOSED";
              }
            }, 1000);
            </script>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">

              <img src="/assets/img/comp.png" width="90%" alt="">

                </svg>
             </div>
            <h4><a href="">Weekly Computer Quizz</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            <strong>Starts in !</strong>

            <p id="t6"></p>
          
            <script>
            // Set the date we're counting down to
            var countDownDate6 = new Date("July 25, 2022 15:37:25").getTime();
            
            // Update the count down every 1 second
            var x = setInterval(function() {
            
              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate6 - now;
                
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
              // Output the result in an element with id="demo"
              document.getElementById("t6").innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("t6").innerHTML = "CLOSED";
              }
            }, 1000);
            </script>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End quizz Section -->


   

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us <br> <img src="https://img.icons8.com/bubbles/150/000000/info.png"/>
          </h2>
          <p>
            Bye2Doubts is an ed-tech platform, specially created for clearing all the subject doubts/queries for the students of class 6-12 and JEE & NEET aspirants too.
             It is made with the motive such that students don’t have to wander to different websites for content, Q&A, sample papers, etc.
          </p>
       </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              What you will get from our platform - 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Three Layered Educational platform</li>
              <li><i class="ri-check-double-line"></i>Verified Answers from Experts</li>
              <li><i class="ri-check-double-line"></i>Saved Answers visibility in an offline mode</li>
              <li><i class="ri-check-double-line"></i>Frequent tests and quizzes with weekly leaderboards</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Bye 2 doubts is one of the strongest student community.
              The Core team members assure all the students regarding the correct
              answers and different subjects experts are going to answer them.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>

      
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team <br><img src="https://img.icons8.com/color/120/000000/people-skin-type-7.png"/>
          </h2>
          <!-- <p>Meet Our Team</p> -->
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/AS.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ayush Singh</h4>
                <span>Head</span>
                <!-- <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p> -->
                <div class="social">
                  <a href="https://www.linkedin.com/in/ayush-singh-97a0831b8"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <!-- <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/NIYATI.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Niyati Nahar</h4>
                <span>Content Lead</span>
                <!-- <p>Aut maiores voluptates amet et quis praesentium qui senda para</p> -->
                <div class="social">
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <!-- <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->  
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">


          <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/my-profile.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Gaurav Garwa</h4>
                <span>Tech Lead</span>
                <!-- <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p> -->
                <div class="social">
                  <a href="https://www.linkedin.com/in/ggarwa/"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href="https://twitter.com/gauravm183"><i class="ri-twitter-fill"></i></a>
                  <!-- <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
    
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/Shivansh.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Shivansh Rastogi</h4>
                <span>Tech Co-Lead</span>
                <!-- <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p> -->
                <div class="social">
                  <a href="https://www.linkedin.com/in/shivansh-rastogi-04bb27225/"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href="https://twitter.com/Shivansh_120310"><i class="ri-twitter-fill"></i></a>
                  <!-- <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/Prakashini.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Prakashini Srivastava</h4>
                <span>Marketing & HR Lead</span>
                <!-- <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p> -->
                <div class="social">
                  <a href="https://www.linkedin.com/mwlite/in/prakashini-srivastava-813864200"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <!-- <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/ROHIT.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Rohit Gore</h4>
                <span>Content Co-Lead</span>
                <!-- <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p> -->
                <div class="social">
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <!-- <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    </section>
    <!-- End About Us Section -->


   
 



    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2><img src="https://img.icons8.com/external-bearicons-flat-bearicons/170/000000/external-faq-frequently-asked-questions-faq-bearicons-flat-bearicons-4.png"/>
          </h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What are the benefits of premium subscription? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  <strong>Ans.</strong> Unlimited Question/Answers and One-on-One doubt session.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How Bye2Doubts is different from others? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  <strong>Ans.</strong> Unlike other platforms we provide an extra expert layer to ensure all the answers provided are 100% correct.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Credibility of Experts? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  <strong>Ans.</strong> We ensure all the experts are verified and have adequate experience in their domain.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How many doubts can I ask ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  <strong>Ans.</strong> There is no limit our team is available 24/7.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How many quizzes would be conducted every month? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  <strong>Ans.</strong> There will be weekly quizes for all subjects/exams and every top performer will get exciting prizes.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

          <div class="col-lg-6">
            <div class="info">
              <div class="address">
                <!-- <i class="bi bi-geo-alt"></i> -->
                <h4> <img src="https://img.icons8.com/plasticine/90/000000/marker.png"/></h4>
                <p> <strong>479/12D/1A Chandpur Salori, Govindpur, Prayagraj - 211004, India</strong> </p>
              </div>

              <div class="email">
                <!-- <i class="bi bi-envelope"></i> -->
                <h4> <img src="https://img.icons8.com/clouds/100/000000/email--v1.png"/></h4>
                <p> <strong>bye2doubts@gmail.com</strong> </p>
              </div>

              <div class="phone">
                <!-- <i class="bi bi-phone"></i> -->
                <h4><img src="https://img.icons8.com/bubbles/90/000000/apple-phone.png"/></h4>
                <p> <strong>+91 9555775093</strong> </p>
              </div>

            </div>

          </div>

          <div class="col-lg-6 mt-3 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="10" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Message sent. Thank you!</div>
              </div>
              <div  style="padding-top:30px" class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

     <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Subscribe to get notified for upcoming competetions and Quizes </h4>
            <p>Get a chance to win exciting prizes.</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your email" ><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of Use</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Important Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Mathematics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Physics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chemistry</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Biology</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">English</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Computer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Social Studies</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Environmental Science</a></li>


            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              479/12D/1A Chandpur Salori, Govindpur, Prayagraj-211004, India<br><br>
              <strong>Phone:</strong> +91 9555775093<br>
              <strong>Email:</strong> bye2doubts@gmail.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About B2D</h3>
            <p>Bye2Doubts is an ed-tech platform, specially created for clearing all the subject doubts/queries for the students of class 6-12 and JEE & NEET aspirants too. It is made with the motive such that students don’t have to wander to different websites for content, Q&A, sample papers, etc.</p>
            <div class="social-links mt-3">
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Bye2Doubts</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
